.dark {
  background-color: #222;
  color: white;

  h1,h2,h3,h4,span,p{
    color: white ;
  }
  h5{
    color: #222;
  }
  div{
    color: white !important;
  }

  svg{
    stroke: white !important;
  }
}
