@import "../abstracts/variables";
@import "../abstracts/reset";

.pl {
    color:#333;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .plTexts{
        width: 65%;

        .plTitle{
            font-size: 3rem;
        }

        .plDesc{
            margin: 20px 0px;
        }
    }

    .list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 480px){
    .pl{
        padding: 10px;
        max-width: 100vw;
        overflow: hidden;
        .plTexts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            
            .plTitle{
                margin-top: 2em;
                font-size: 2rem;
            }

            .plDesc{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 3rem;
                width: 90%;
            }
        }
        .list{
            justify-content: center;
            gap: 1em;
        }




    }
}
