@import "../abstracts/variables";
@import "../abstracts/reset";

.pl {
  color: #333;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
  text-align: center;

  .plTexts {
    width: 65%;

    .plTitle {
      font-size: 3rem;
    }

    .plDesc {
      margin: 20px 0px;
      margin-bottom: 0px;
    }
  }

  .listTitle {
    width: 70vw;
    background-color: $primary-color;
    padding: 0.2rem 0rem;
    //border-radius: 10px;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 4rem;
    margin-bottom: 2rem;

    a {
      text-decoration: none;
      i {
        margin: 0 10px;
        font-size: 0.9em;
        color: #333;

        &:hover {
          color: whitesmoke;
          cursor: pointer;
        }
      }
    }
  }

  .pl__proyectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      padding-bottom: 10px;
      margin: 0;
      font-size: 16px;
      width: 70%;
    }

    .pl__techContainer {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;

      span {
        font-weight: 600;
        padding: 10px;
        margin: 5px 0px;
        font-size: 16px;
      }

      .pl__tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        background-color: whitesmoke;
        padding: 10px 20px;
        border-radius: 20px;
        width: fit-content;
        //border: 1px solid lightgray;

        i {
          font-size: 3em;
          margin: 5px;
        }
      }

      .pl__extra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: whitesmoke;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 0 20px;

        p {
          width: 100%;
          padding: 10px 0px;
        }
      }
    }
  }

  .pl__ytContainer {
    max-width: 90vw;
    height: auto;

    iframe {
      width: 700px;
      height: 380px;
      margin: 10px 0px;
      margin-bottom: 20px;
    }
  }

  .list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;

    :nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    :nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    :nth-child(3) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    :nth-child(4) {
      grid-column: 2/3;
      grid-row: 2/2;
    }
  }

  .phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10em;
    width: 100%;
    height: auto;
    gap: 2em 7em;
    margin: 0;
    padding: 0;
    //background-color: red;

    .phoneDiv {
      display: flex;
      justify-content: center;
      //background-color: aqua;
      height: auto;
      max-width: 15%;
    }
  }
}

@media screen and (max-width: 480px) {
  .pl {
    padding: 10px;
    max-width: 100vw;
    overflow: hidden;
    .plTexts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;

      .plTitle {
        margin-top: 2em;
        font-size: 2rem;
      }

      .plDesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3rem;
        width: 90%;
      }
    }

    .listTitle {
      width: 80vw;
      background-color: $primary-color;
      padding: 0.5rem 0rem;
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 0rem;
    }
    .pl__proyectDescription {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 90vw;
      p {
        padding-bottom: 10px;
        margin: 0;
        font-size: 14px;
        width: 90%;
      }

      .pl__techContainer {
        display: flex;
        flex-direction: column;
        justify-items: center;

        span {
          font-weight: 600;
          padding: 10px;
          margin: 5px 0px;
          font-size: 14px;
        }

        .pl__tech {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1em;
          background-color: whitesmoke;
          padding: 10px 20px;
          border-radius: 20px;
          max-width: 90vw;
          //border: 1px solid lightgray;

          i {
            font-size: 2em;
            margin: 5px;
          }
        }

        .pl__extra {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: whitesmoke;
          margin-bottom: 20px;
          p {
            width: 100%;
            padding: 10px 0px;
          }
        }
      }
    }

    .pl__ytContainer {
      max-width: 90vw;
      height: auto;

      iframe {
        width: 90vw;
        height: 200px;
        margin: 10px 0px;
        margin-bottom: 20px;
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      margin-bottom: 5em;
    }

    .phone {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.5em 2em;
      width: fit-content;
      height: auto;
      margin: 0;
      padding: 1em;
      //background-color: red;

      .phoneDiv {
        display: flex;
        justify-content: center;
        //background-color: aqua;
        height: auto;
        max-width: 40%;
      }
    }
  }
}
